@content-width: 100%;

html, body, p {
    margin: 0;
    padding: 0;
}

p {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

body {
    background: #222;
}

.main {
    background-image: url("/img/bg.jpg");
    background-size: cover;
    position: relative;
    .column {
        max-width: @content-width;
        margin: 0 auto;
    }
    .container {
        position: relative;

        header {

            .logo {
                background: #595959;
                padding: 5px 10px;
                vertical-align: center;
                img {
                    height: 50px;
                }
            }
            nav {
                width: 100%;
                ul {
                    padding: 0;
                    margin: 0;
                    display: flex;
                    flex-direction: row;
                    list-style: none;
                    position: relative;
                    background: #F5C506;
                    display: flex;
                    justify-content: space-between;
                    li  {
                        display: flex;
                        flex-basis: 33%;
                        align-items: center;
                        justify-content: center;
                        z-index: 5;
                        font-size: 14px;
                        font-weight: 500;
                        color: #9b7d08;
                        font-family: "Segoe UI", segoe;
                        text-transform: uppercase;
                        line-height: 42px;
                        img {
                            padding-right: 8px;
                        }
                        //padding-left: 9%;
                        //padding-right: 9%;
                        &:not(:last-child) {
                            border-right: 1px solid fade(#000, 20%);
                        }
                        &:hover {
                            background: #E1B504;
                            cursor: pointer;
                        }
                    }
                }

            }
        }
            .slider {
                margin-top: 20px;
                height: auto;
                position: relative;
                .ctrl-left, .ctrl-right {
                    position: absolute;
                    width: 32px;
                    height: 57px;
                    background-color: #F5C506;
                    opacity: 0.7;
                    top: 25%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    &:hover {
                        opacity: 1;
                    }
                }
                .ctrl-right {
                    right: 0;
                    img {
                        transform: rotate(180deg)
                    }
                }
                .page1 {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    .img {
                        img {
                            max-width: 100%;
                            display: flex;
                            height: auto;
                            flex-shrink: 0.2;
                        }
                    }
                    .text {
                        padding-top: 10px;
                        padding-bottom: 20px;
                        font-size: 5vmax;
                        flex-shrink: 0.6;
                        @media screen and (min-width: 1000px) {
                            font-size: 60px;
                        }
                        font-family: "Segoe UI", segoe;
                        text-transform: uppercase;
                        color: #fff;
                        text-align: center;
                        p {
                            margin: 0;
                        }
                        .fill {
                            color: #F5C506;
                        }
                    }
                }
            }
            .features {
                position: relative;
                width: 100%;
                background-color: white;
                font-family: "Segoe UI", segoe;
                text-transform: uppercase;
                //box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3);
                box-shadow: 0px 5px 10px fade(#000, 30%), 0px -5px 5px fade(#000, 30%);
                z-index: 2;
                .column {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: center;
                    div {
                        margin: 20px;
                        text-align: center;
                        p {
                            font-size: 24px;
                            text-align: justify;
                            margin-top: 10px;
                        }
                    }
                }
            }
            .yellow-layer {
                position: relative;
                background-image: url("/img/bg2.jpg");
                display: flex;
                flex-direction: column;
                z-index: 1;
                .title {
                    font-size: 25px;
                    color: white;
                    font-family: "Segoe UI", segoe;
                    text-transform: uppercase;
                    font-stretch: expanded;
                    padding: 25px;
                    padding-bottom: 20px;
                }
                .news {
                    .top {
                        //max-height: 232px;
                        padding: 0;
                        margin: 0;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;

                        .text {
                            background-color: #ec9e03;
                            padding: 16px 25px;
                            max-width: 100%;
                            max-height: 200px;
                            font-size: 20px;
                            color: white;
                            font-family: "Segoe UI", segoe;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            position: relative;
                        }
                        .img_block {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: relative;
                            width: 100%;
                            img {
                                width: 100%;
                            }
                            .play {
                                width: 61px;
                                height: 61px;
                                border-radius: 50%;
                                background-color: fade(#F5C506, 50%);
                                position: absolute;
                                cursor: pointer;
                                &:hover {
                                    background-color: fade(#F5C506, 75%);
                                }
                                .arrow {
                                    width: 0;
                                    height: 0;
                                    left: 24px;
                                    top: 13px;
                                    opacity: 0.8;
                                    position: absolute;
                                    border-top: 18px solid transparent;
                                    border-bottom: 18px solid transparent;
                                    border-left: 18px solid white;
                                }
                            }

                        }
                    }
                    .date {
                        display: none;
                    }
                }
                .twitter {
                    max-height: 232px;
                    background-color: #ec9e03;
                    display: flex;
                    position: relative;
                    .img {
                        display: block;
                        margin: auto;
                        padding: 30px;
                    }
                }
                .scroll {
                    display: none;
                    margin: 30px auto;
                    width: 80%;
                    height: 15px;
                    background-color: #FFFFFF80;
                    border-radius: 7px;
                    position: relative;
                    &-container {
                        display: none;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        width: @content-width;
                    }
                    .bar {
                        display: none;
                    }
                }
            }
            .grey-layer {
                background-image: url("/img/bg3.jpg");
                display: flex;
                flex-direction: row;
                .top {
                    margin: 25px 0 10px 0;
                    text-align: center;
                    .title {
                        color: #f5c506;
                        font-size: 20px;
                        font-family: "Segoe UI", segoe;
                        text-transform: uppercase;
                        font-stretch: expanded;
                    }
                }
                .bottom {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    .devices {
                        display: flex;
                        flex-direction: column-reverse;
                        justify-content: center;
                        align-items: center;
                        width: 80%;
                        img {
                            width: 100%;
                        }
                        &>div {
                            margin-top: 10px;
                            position: relative;
                            .free {
                                width: 80px;
                                height: 80px;
                                background-color: #f5c506;
                                border-radius: 50%;
                                position: absolute;
                                top: -20px;
                                left: -23px;
                                color: white;
                                font-family:  "Segoe UI", segoe;
                                text-transform: uppercase;
                                font-size: 11px;
                                font-weight: 500;
                                vertical-align: middle;
                                line-height: 80px;
                                text-align: center;
                                font-stretch: ultra-condensed;
                            }
                        }
                    }
                    .ul-list {
                        margin-left: 10px;
                        list-style: none;
                        color: #a9a9a7;
                        font-family: "Segoe UI", segoe;
                        font-size: 18px;
                        li {
                            margin-bottom: 10px;
                            position: relative;
                            &:before {
                                content: '';
                                width: 14px;
                                height: 14px;
                                background-color: #f5c506;
                                border-radius: 50%;
                                position: absolute;
                                top: 10px;
                                left: -30px;
                            }
                        }
                    }
                }
            }
            footer {
                background-color: #4C4C4C;
                box-shadow: 0px -5px 10px 0px fade(#000, 50%);
                padding: 5px 0 5px 10px;
                .logo {
                    height: 50px;
                }
            }
    }
}

button.add {
    position: absolute;
    padding: 0;
    width: 11px;
    height: 11px;
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    right: 10px;
    bottom: 12px;
}
